


header {
	color: white;
	background-image: url(Obrazy/background.jpg);
	background-size: cover;
	background-position: 0 -450px;
	background-attachment: fixed;
	padding: 20px;
	height: 350px;


}
.myName {
	text-align: center;
	font-family: 'Bungee Shade', cursive;

}
h1 {
	font size: 50px;
}
p {
	color:white ;
}

body {
	background-color:darkgrey  ; 
}

footer {
	text-align: center;
}
.row {
	padding: 20px;
}
/*.myphoto {
	max-width: 250px;
	max-height: 200px
}*/