<div class="col-md-5" >
	<h3>{{'Moje umiejętności' | translate}}</h3>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem omnis et ipsum, doloribus assumenda quod a quasi porro ipsa delectus, modi itaque sunt voluptate vitae cumque nulla dolore ad error.
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aspernatur harum nulla delectus quidem blanditiis, omnis consequuntur! Necessitatibus sapiente, explicabo odit iste sequi mollitia officiis, debitis distinctio, eos tempora deserunt?</p>
</div>
<div class="col-md-2"></div>
<div class="col-md-5">
	<p>Miejsce na ikonki programów/języków które znam/używam + poziom do każdego napisany gwiazdkami czy czymś tam innym.</p>
</div>