<div class="col-md-5 infoback">
	<h3>{{'Moje doświadczenie' | translate}}</h3>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem omnis et ipsum, doloribus assumenda quod a quasi porro ipsa delectus, modi itaque sunt voluptate vitae cumque nulla dolore ad error.
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa vel, molestiae, accusantium illo enim cupiditate blanditiis aliquam provident harum, voluptatem placeat consectetur doloribus cum minima distinctio pariatur reprehenderit. Ducimus, corrupti.</p>
	</div>
	<div class="col-md-2"></div>
	<div class="col-md-5 infoback">
		<p>Miejsce na loga firm, w których pracowałem/loga firm u których miałem kursy bądź jakieś zdjęcia.</p>
	</div>