<div class="col-md-4 myPhoto">
	<img src="http://placehold.it/250x200">
</div>
<div class="col-md-8 aboutMe" >
	<h3>Who am I?</h3>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde, placeat, voluptatem. Tenetur consectetur nostrum ducimus soluta. Ad eaque, veritatis aliquam cum temporibus ipsum consequuntur consectetur, qui placeat cumque unde a?
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim reprehenderit qui, quo cum autem illum deserunt quis, ex amet modi libero temporibus ullam soluta odio saepe ducimus voluptates eligendi! Eveniet.</p>
	</div>