<div class="col-md-4 topName">
	<h4>Jan Tillack</h4>
</div>
<div class="col-md-8 nav">
	<ul class="nav">
		<li role="presentation"><a href="#aboutMe">About Me</a></li>
		<li role="presentation"><a href="#skills">My skills</a></li>
		<li role="presentation"><a href="#experience">Experience</a></li>
		<li role="presentation"><a href="#plans">Plans</a></li>
		<li role="presentation"><a href="#inerests">Interests</a></li>
		<li role="presentation" class="dropdown">
			<change-language></change-language>
		</li>
	</ul>
	<div class="clear"></div>
</div>

